{{ define "main" }}
  <div class="page">
    <div class="container">
      <h1>{{ .Title }}</h1>
      {{ with .Content }}{{ . }}{{ end }}

      <ul class="entry-list" role="list">
        {{ range .Pages }}
          {{- $entry := . -}}
          {{- $lang := .Params.source_lang -}}
          <li class="entry-list__item">
            <time datetime="{{ .Date.Format "2006-01-02" }}">
              {{ time.Format "2 Jan 2006" .Date }}
            </time>

            <div class="entry-list__body">
              {{ with .Params.link }}
                <a class="entry-list__title" href="{{ . }}" target="_blank" rel="noopener"
                  {{ with $lang }}hreflang="{{ . }}"{{ end }}>
                  <span {{ with $lang }}lang="{{ . }}"{{ end }}>{{ $entry.Title }}</span>
                  <span aria-hidden="true">&#8618;</span>
                  <span class="visually-hidden">{{ i18n "external-link" }}</span>
                </a>
              {{ end }}

              {{ with .Params.description }}
                <p>{{ . }}</p>
              {{ end }}

              {{ with .Params.tags }}
                <ul role="list" class="tags">
                  {{ range . }}
                    <li class="tag tag--accented">{{ lower . }}</li>
                  {{ end }}
                </ul>
              {{ end }}
            </div>
          </li>
        {{ else }}
          <li>{{ i18n "no-links" }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}
