{{ define "main" }}
  <div class="container--wide term">
    <h1>{{ .Title }}</h1>

    <ul class="entry-list" role="list">
      {{ range .Pages }}
        <li class="entry-list__item">
          <time class="meta" datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
          </time>
          <div class="entry-list__body">
            {{ if .Params.link }}
              {{- $lang := .Params.source_lang -}}
              <a href="{{ .Params.link }}" target="_blank" rel="noopener"{{with $lang }} hreflang="{{ . }}"{{ end }}>
                <span {{ with $lang }}lang="{{ . }}"{{ end }}>{{ .Title }}</span>
                <span aria-hidden="true">&#8618;</span>
                <span class="visually-hidden">{{ i18n "external-link" }}</span>
              </a>
            {{ else }}
              <a class="entry-list__title" href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ end }}
            {{ with .Params.description }}
              <p class="meta">{{ . }}</p>
            {{ end }}
            {{ with .GetTerms "tags" }}
            <ul role="list" class="tags">
              {{ range . }}
              <li class="tag tag--accented"><a href="{{ .Permalink }}">{{ lower .LinkTitle }}</a></li>
              {{ end }}
            </ul>
            {{ end }}
          </div>
        </li>
      {{ else }}
        <li>{{ i18n "no-posts" }}</li>
      {{ end }}
    </ul>
  </div>
{{ end }}
