:root {
  /* Light theme. */
  --light-bg: #f9f9f9;
  --light-text: #2a2d34;
  --light-link: #14684e;
  --light-link-hover: #0c4a37;
  --light-link-visited: #4f5f50;

  /* Dark theme. */
  --dark-bg: #16181d;
  --dark-text: #d6d8dd;
  --dark-link: #5fc2a0;
  --dark-link-hover: #85d6bb;
  --dark-link-visited: #9ab5a4;

  /* Breakpoints */
  --bp-mobile: 480px;
  --bp-mobile-lg: 640px;
  --bp-tablet: 768px;
  --bp-desktop: 1024px;
  --bp-desktop-lg: 1280px;

  /* Paddings/margins */
  --padding-default: 1rem;

  /* Base container width */
  --container-wide: var(--bp-desktop-lg);
  --container-reading: 70ch;
  --container-default: 1024px;

  /* Base color. */
  --color-bg: var(--light-bg);
  --color-text: var(--light-text);
  --color-link: var(--light-link);
  --color-link-hover: var(--light-link-hover);
  --color-link-visited: var(--light-link-visited);
  --font-weight-bold: 700;
  --font-sans: system-ui, sans-serif;
  --font-mono: ui-monospace, 'Cascadia Code', monospace;

  font-size: 62.5%; /* 1rem = 10px */
}
