body {
  max-width: unset;
  font-family: var(--font-sans);
  font-size: 1.8rem;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  font-weight: var(--font-weight-bold);
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:focus {
  color: var(--color-link-hover);
}

a:hover {
  color: var(--color-link-hover);
}

a:active {
  color: var(--color-link-hover);
}

