.site-footer {
  .container--wide {
    display: flex;
    justify-content: space-between;
    padding-block: var(--spacing-lg);
    font-size: var(--text-sm);
    border-block-start: var(--border-thin);
  }
}

@media screen and (width <= 576px) {
  .site-footer {
    .container--wide {
      flex-direction: column;
      gap: var(--spacing-lg);
      align-items: center;
    }
  }
}
