/* Cards container. */
.cards {
  &.cards--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
    gap: var(--spacing-md);
    place-items: stretch stretch;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-md);
  background: var(--color-surface);
  border: var(--border-thin);
  border-radius: var(--border-radius);

  .card__title {
    padding-block: var(--spacing-2xs) var(--spacing-md);
    margin-block: unset;
    font-size: var(--text-base);
  }

  .card__body {
    flex-grow: 1;
    margin-block-end: var(--spacing-md);
  }

  .card__footer {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
    align-items: center;
    font-size: var(--text-sm);
  }

  &.card--taxonomy {
    .entry-list {
      padding-inline-start: var(--spacing-md);

      .entry-list__item {
        grid-template-columns: max-content 1fr max-content;

      }
    }
  }
}

@media screen and (width >= 768px) {
  .cards.cards--grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-xl);
  }
}
