.single {
  padding-block: var(--spacing-xl);
}

.single__intro {
  font-size: var(--text-base);
  font-style: italic;
}

.single__heading {
  padding-block-end: var(--spacing-md);
  margin-block-end: var(--spacing-lg);
  border-bottom: var(--border-thin);
}

.byline {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs) var(--spacing-sm);
  align-items: baseline;
}

.post-nav {
  padding-block-start: var(--spacing-lg);
  margin-block: var(--spacing-md);
  border-block-start: var(--border-thin);
}

.post-nav__list {
  display: flex;
  gap: var(--spacing-lg);
}

.post-nav__label {
  display: block;
}

.post-nav__item--older {
  margin-inline-start: auto;
  text-align: end;
}

@media screen and (width <= 576px) {
  .post-nav__list {
    flex-direction: column;
  }

  .post-nav__item--older {
    margin-inline-start: 0;
    text-align: start;
  }
}
