{{- /*
  Renders partial/cta.html from markdown.

{{< cta url="/contact/" label="Me contacter" >}}
{{< cta url="mailto:julien.maxant@gmail.com" label="Email me"}}
*/ -}}
{{- $url := .Get "url" -}}
{{- $label := .Get "label" -}}
{{- if not $url -}}
  {{- errorf "shortcode cta : 'url' parameter is required — %s" .Position -}}
{{- end -}}

{{- if not $label }}
  {{- errorf "shortcode cta: 'label' parameter is required - %s" .Position -}}
{{- end -}}

{{- partial "cta.html" (dict "url" $url "label" $label) -}}
